.other-projects {
  background-color: rgb(241, 173, 57);
  padding: 3em;


  .other-projects-title {
    text-align: center;

    h2 {
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: 400;
      color: black;
      margin: 1.5em;
    }
  }

  .other-cards-project {
    display: flex;
    justify-content: center;
    margin: 3em auto;
    width: 80%;
  }
}
