.other-projects {
  background-color: #d9d9d9;
  padding: 3em;


  .other-projects-title {
    text-align: center;

    h2 {
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: 400;
      color: black;
      margin: 1.5em;
    }
  }

  .other-cards-project {
    display: flex;
    justify-content: center;
    margin: 3em auto;
    width: 80%;
  }
}

@media screen and (max-width: 1600px) {

  .other-projects {
    .other-cards-project {
      width: 100%;
    }
  }
}


@media screen and (max-width: 1350px) {

  .other-projects {
    .other-projects-title {
      h2 {
        font-size: 20px;
      }
    }
  }

}

@media screen and (max-width: 900px) {
  .other-projects {
    padding: 2em;

    .other-projects-title {
      h2 {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .other-projects {
    display: none;
  }
}
