.about-content {
  width: 100%;
  height: auto;
  padding: 10em 0 5em 0;
  display: flex;


  .about-me-info {
    width: 45%;
    color: white;

    .about-title {
      margin: 5em 0 5em 10%;

      h1 {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 30px;
        font-weight: 600;

        span {
          padding: 0 0.5em;
        }
      }

      h2 {
        font-size: 30px;
        font-weight: 600;
      }

      .name {
        color: #f0a500;
        //font-weight: 600;
      }
    }

    .about-text {
      margin: 0 10%;

      p {
        line-height: 40px;
        letter-spacing: 0.5px;
        font-size: 25px;
        font-weight: 100;
      }
    }

    .about-social-icons {
      display: flex;
      padding: 0 0 0 10%;
    }

    .about-social-icon img {
      width: 25px;
      margin: 25px 5px;
      padding-right: 20px;
    }


  }

}

.about-image {
  width: 45%;
  text-align: center;

  img {
    width: 65%;
    height: auto;
    padding-left: 20%;
  }
}

.about-info {
  background-color: white;
  width: 100%;
  padding: 3em 0;

  .about-info-container {
    width: 80%;
    margin: 0 auto;

    .info-experience {
      margin: 5em auto;
      width: 100%;
      height: 450px;

      .experience-title {
        display: inline-block;
        float: left;
        padding-left: 5em;

        .accent {
          width: 95px;
          height: 6px;
          background-color: #f0a500;
        }

        h2 {
          width: 100%;
          font-size: 50px;
          letter-spacing: 5px;
          margin: 1em 0 0.5em 0;
        }

        p {
          margin: 0;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1px;
        }
      }

      .experience-cards {
        display: inline-block;
        float: right;
        margin: 0 auto;
        width: 50%;


        .lines {
          margin: 0;
          display: inline-block;
          float: left;


          .dot {
            width: 30px;
            height: 30px;
            background: #f0a500;
            border-radius: 20px;
          }

          .line {
            width: 2px;
            height: 142px;
            background: #D1D6E6;
            margin-left: 13.3px;
          }

          .end-line {
            width: 2px;
            height: 100px;
            background: #D1D6E6;
            margin-left: 13.3px;
          }

        }


        .e-cards {
          display: inline-block;
          float: right;
          width: 90%;
          margin: 1em auto;

          .e-card {
            max-width: 441px;
            min-width: 405px;
            margin: 2em auto 2em 0;
            border-radius: 15px;
            background-color: #fff;
            padding: 1em 1em;
            box-shadow: 0 0 5px 0 rgba(68, 49, 16, 0.02), 0 3px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 28px 0 rgba(68, 52, 24, 0.02);

            h1 {
              margin: 0.5em 1em;
              font-size: 25px;
              text-align: left;
            }

            p {
              font-size: 15px;
              margin: 0.5em 0;
              text-align: center;
              font-weight: 500;

              span {
                color: #f0a500;
                font-weight: bold;
              }
            }

          }
        }
      }
    }
  }

  .info-skills {
    width: 100%;
    height: 900px;
    margin: 5em auto;
    background-color: #0e0e0e;


    .info-skills-container {
      width: 80%;
      margin: 0 auto;
      padding: 5em 0 0 0;

      .skills-title {
        text-align: center;
        display: flex;
        justify-content: center;

        .accent-1 {
          width: 95px;
          height: 6px;
          background-color: #f0a500;
          margin: 5em 0;
        }

        h2 {
          width: 25%;
          font-size: 50px;
          letter-spacing: 5px;
          margin: 1em 0 0.5em 0;
          color: white;
        }

      }

      .skiills-sub-title {
        width: 100%;
        color: white;
        margin: -20px 0 5em 0;

        p {
          font-size: 20px;
          letter-spacing: 4px;
          text-align: center;
          margin: 0;
        }
      }

      .skills {
        width: 80%;
        margin: 2em auto;

        .skill-left {
          display: inline-block;
          float: left;
          width: 50%;
          text-align: center;

        }

        .skill-right {
          display: inline-block;
          float: right;
          width: 48%;
          text-align: center;
          border-left: 2px solid #ffffff14;
        }

        .skill {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 1em auto;

          .skill-img {
            width: 10%;
            display: inline-block;

            img {
              width: 70px;
            }

          }

          .skill-title {
            width: 60%;
            display: inline-block;
            float: right;


            h3 {
              color: white;
              font-size: 27px;
              letter-spacing: 2px;
              font-weight: 400;

              span {
                color: #f0a500;
                font-weight: 300;
                letter-spacing: 4px;
                font-size: 11px;
              }

            }

          }


        }

      }
    }

  }

  .about-info-container {
    width: 80%;

    .info-faculty {
      width: 100%;

      .faculty-title {
        width: 100%;
        padding-left: 5em;

        h2 {
          width: 100%;
          font-size: 50px;
          letter-spacing: 5px;
          margin: 1em 0 0.5em 0;
        }

        .accent {
          width: 95px;
          height: 6px;
          background-color: #f0a500;
          margin: 5em 0;
        }
      }

      .faculty-text {
        width: 90%;
        margin: 3em auto;
        text-align: center;

        h2 {
          margin: 1em auto;
        }

        p {

          span {
            font-weight: 700;
            color: #f0a500;
          }
          line-height: 35px;
          font-size: 25px;
          word-spacing: 5px;
          letter-spacing: 1px;
          text-align: left;
          margin: 3em auto;
        }
      }
    }
  }
}


@media screen and (max-width: 1600px) {

  .about-content {

    .about-image {
      width: 50%;
    }

    .about-me-info {
      width: 50%;
    }
  }

  .about-info {

    .info-skills {

      .info-skills-container {
        width: 100%;
      }

    }

  }

}


@media screen and (max-width: 1350px) {
  .about-content {

    .about-image {
      img {
        width: 80%;
      }
    }

    .about-me-info {

      .about-text {
        p {
          line-height: 35px;
          letter-spacing: 0.2px;
          font-size: 23px;
        }
      }

    }
  }


  .about-info {

    .about-info-container {

      .info-experience {

        .experience-title {
          padding-left: 0;

          h2 {
            font-size: 40px;
          }

          p {
            font-size: 14px;
          }
        }

        .experience-cards {

          .e-cards {

            .e-card {
              h1 {
                font-size: 19px;
              }

              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }


    .info-skills {

      .info-skills-container {

        .skills-title {

          h2 {
            width: 35%;
          }
        }

        .skiills-sub-title {
          p {
            font-size: 18px;
          }
        }

        .skills {

          .skill-left {
            .skill {
              .skill-img {
                width: 20%;

                img {
                  width: 60px;
                }
              }

              .skill-title {
                width: 70%;

                h3 {
                  font-size: 23px;
                }

              }
            }
          }

          .skill-right {

            .skill {

              .skill-img {
                width: 20%;

                img {
                  width: 60px;
                }
              }

              .skill-title {
                width: 70%;

                h3 {
                  font-size: 23px;
                }

              }
            }
          }

        }
      }
    }
  }
}


@media screen and (max-width: 1050px) {
  .about-content {

    .about-me-info {

      .about-title {
        margin: 1em 0 5em 10%;

        h1 {
          font-size: 25px;
        }
      }

      .about-text {
        p {
          font-size: 20px;
        }
      }

    }
  }

  .about-info {

    .about-info-container {

      .info-experience {

        .experience-title {
          padding-left: 0;

          h2 {
            font-size: 30px;
          }

          p {
            font-size: 12px;
          }
        }

        .experience-cards {

          .e-cards {

            .e-card {
              min-width: 350px;
            }
          }
        }
      }
    }


    .info-skills {

      .info-skills-container {

        .skiills-sub-title {
          p {
            font-size: 15px;
          }
        }

        .skills {

          .skill-left {
            .skill {
              .skill-img {
                width: 20%;

                img {
                  width: 50px;
                }
              }

              .skill-title {
                width: 80%;

                h3 {
                  font-size: 19px;
                }

              }
            }
          }

          .skill-right {

            .skill {

              .skill-img {
                width: 20%;

                img {
                  width: 50px;
                }
              }

              .skill-title {
                width: 80%;

                h3 {
                  font-size: 19px;
                }

              }
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .about-content {

    .about-me-info {

      .about-title {
        margin: 1em 0 1em 10%;

        h1 {
          font-size: 20px;
        }
      }

      .about-text {
        margin: 0 5%;

        p {
          font-size: 18px;
        }
      }

    }
  }

  .about-info {

    .about-info-container {

      .info-experience {
        height: 400px;

        .experience-title {
          padding-left: 0;

          h2 {
            font-size: 27px;
          }

          p {
            font-size: 11px;
          }
        }

        .experience-cards {

          .lines {
            .dot {
              width: 20px;
              height: 20px;
            }

            .end-line {
              margin-left: 9px;
            }

            .line {
              margin-left: 9px;
            }
          }

          .e-cards {

            .e-card {
              min-width: 250px;

              h1 {
                font-size: 14px;
              }

              p {
                font-size: 13px;
              }
            }
          }
        }
      }
    }


    .info-skills {

      .info-skills-container {

        .skills-title {

          h2 {
            font-size: 40px;
            width: 45%;
          }

          .accent-1 {
            margin: 4em 0;
          }

        }


        .skiills-sub-title {


          p {
            font-size: 15px;
          }
        }

        .skills {

          .skill-left {
            .skill {
              .skill-img {
                width: 20%;

                img {
                  width: 40px;
                }
              }

              .skill-title {
                width: 80%;

                h3 {
                  font-size: 17px;
                }

              }
            }
          }

          .skill-right {

            .skill {

              .skill-img {
                width: 20%;

                img {
                  width: 40px;
                }
              }

              .skill-title {
                width: 80%;

                h3 {
                  font-size: 17px;
                }

              }
            }
          }

        }
      }
    }
  }

}


@media screen and (max-width: 750px) {

  .about-content {
    width: 100%;
    display: block;
    padding: 8em 0 5em 0;

    .about-image {
      width: 100%;

      img {
        padding: 8% 0;
      }

    }


    .about-me-info {
      width: 100%;

      .about-title {
        margin: 1em 0 1em 10%;

        h1 {
          font-size: 30px;
        }
      }

      .about-text {
        margin: 0 10%;

        p {
          font-size: 20px;
        }
      }

      .about-social-icons {
        padding: 0 10%;
        justify-content: center;
      }

    }

  }

  .about-info {

    .about-info-container {
      width: 90%;

      .info-experience {
        width: 100%;
        height: 500px;

        .experience-title {
          display: block;
          width: 100%;
          margin-bottom: 5em;

          h2 {
            font-size: 35px;
          }

          p {
            font-size: 14px;
          }
        }

        .experience-cards {
          display: block;
          width: 100%;

          .lines {
            .line {
              height: 116px;
            }
          }

          .e-cards {
            .e-card {
              min-width: 230px;
            }
          }
        }
      }
    }


    .info-skills {

      .info-skills-container {

        .skills-title {

          h2 {
            font-size: 35px;
            width: 50%;
          }

          .accent-1 {
            margin: 3.5em 0;
          }

        }

        .skiills-sub-title {

          p {
            padding: 0 1em;
          }
        }

        .skills {

          .skill-left {
            display: block;
            width: 100%;

            .skill {
              .skill-img {
                width: 20%;

                img {
                  width: 40px;
                }
              }

              .skill-title {
                width: 60%;

                h3 {
                  font-size: 17px;
                }

              }
            }
          }

          .skill-right {
            display: block;
            width: 100%;
            border-left: none;

            .skill {

              .skill-img {
                width: 20%;

                img {
                  width: 40px;
                }
              }

              .skill-title {
                width: 60%;

                h3 {
                  font-size: 17px;
                }

              }
            }
          }

        }
      }
    }

    .about-info-container {
      .info-faculty {
        .faculty-title {
          padding: 0;
        }
      }
    }

  }
}


@media screen and (max-width: 450px) {

  .about-info {
    .about-info-container {
      .info-experience {
        height: 550px;

        .experience-title {
          display: block;
          width: 100%;
          margin-bottom: 5em;

          h2 {
            font-size: 35px;
          }

          p {
            font-size: 14px;
          }
        }

        .experience-cards {
          .lines {
            .line {
              height: 140px;
            }
          }

          .e-cards {
            .e-card {
              min-width: 230px;
            }
          }
        }
      }
    }


    .info-skills {
      height: 1000px;

      .info-skills-container {
        .skills-title {

          h2 {
            font-size: 35px;
            width: 60%;
          }

          .accent-1 {
            width: 60px;
          }

        }

        .skills {

          .skill-left {
            display: block;
            width: 100%;

            .skill {
              .skill-img {
                width: 20%;

                img {
                  width: 40px;
                }
              }

              .skill-title {
                width: 100%;


                h3 {
                  font-size: 17px;
                }

              }
            }
          }

          .skill-right {
            display: block;
            width: 100%;
            border-left: none;

            .skill {

              .skill-img {
                width: 20%;

                img {
                  width: 40px;
                }
              }

              .skill-title {
                width: 100%;

                h3 {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}
