//$img form"../../assets/iusm.png";

.card {
  width: 48%;
  display: inline-block;
  height: 500px;
  margin: 1% 1%;
  overflow: hidden;
  transition: transform 500ms ease;
  border-radius: 15px;

 &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  .card-image {
    width: 100%;
    height: 500px;
    display: inline-block;
    text-align: center;
    background-size: cover;

  }

  .card-image:hover .card-body{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;

  }

  .card-body {
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: inline-block;
    visibility: visible;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;


    h1 {
      padding-top: 2em;
      font-weight: 400;
      font-size: 70px;
      color: white;
      margin-bottom: 0;
      letter-spacing: 3px;
    }

    h3 {
      color: rgba(255, 255, 255, 0.5);
    }

    p {
      color: #f0a500;
      font-weight: 100;
      font-size: 16px;
      line-height: 1.5em;
      letter-spacing: 0.2em;

    }
  }
}


@media screen and (max-width: 450px) {
  .card {
    width: 100%;
    display: block;
    height: 300px;
    margin: 10% 0;

    //&:hover {
    //  transform: scale(1.02);
    //  cursor: pointer;
    //}

    .card-image {
      width: 100%;
      height: 300px;
      display: inline-block;
      text-align: center;
      background-size: cover;

    }

    .card-image:hover .card-body{
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;

    }

    .card-body {
      width: 60%;
      opacity: 1;

      h1 {
        padding-top: 1em;
        font-weight: 100;
        font-size: 40px;
        letter-spacing: 3px;
      }

      //h3 {
      //  color: rgba(255, 255, 255, 0.5);
      //}

      //p {
      //  color: #f0a500;
      //  font-weight: 100;
      //  font-size: 16px;
      //  line-height: 1.5em;
      //  letter-spacing: 0.2em;
      //
      //}
    }
  }
}



//.card {
//  color: var(--clr-neutral-100);
//  background-size: cover;
//  width: 80%;
//  border-radius: 30px;
//  padding: 15em 0 0;
//  margin: 10em auto;
//  overflow: hidden;
//  transition: transform 500ms ease;
//}
//
//.card:hover, .card:focus-within {
//  transform: scale(1.05);
//  cursor: pointer;
//}
//
//.card-content {
//  --padding: 1.5em;
//  padding: var(--padding);
//  background: linear-gradient(hsl(0 0% 0% / 0), hsl(20 0% 0% / 0.5) 20%, hsl(0 0% 0% / 1));
//  transform: translateY(50%);
//  transition: transform 500ms ease;
//}
//
//.card:hover .card-content, .card:focus-within .card-content{
//  transform: translateY(2%);
//  transition-delay: 500ms;
//}
//
//.card:focus-within .card-content {
//  transition-duration: 0ms;
//}
//
//.card-title {
//  position: relative;
//  width: max-content;
//  color: white;
//  font-weight: 700;
//
//}
//
//.card-title::after {
//  content: "";
//  position: absolute;
//  height: 4px;
//  left: calc(var(--padding) * -0.7);
//  bottom: 0;
//  width: calc(100% + var(--padding));
//  background-color: #ff2626;
//  transform: scaleX(0);
//  transform-origin: left;
//  transition: transform 500ms ease;
//}
//
//.card:hover .card-title::after,
//.card:focus-within .card-title::after{
//  transform: scaleX(1);
//}
//
//.card-content > *:not(.card-title) {
//  opacity: 0;
//  transition: opacity 500ms linear;
//}
//
//.card:hover .card-content > *:not(.card-title),
//.card:focus-within .card-content > *:not(.card-title) {
//  opacity: 1;
//  transition-delay: 1000ms;
//}
//
//.card-body {
//  color: rgb(255, 255, 255 / 0.85);
//  font-weight: 400;
//}
