.isum {
  background: white;

  .isum-image {
    text-align: left;
    color: black;
    width: 100%;
    height: 80vh;

    .img-isum {
      width: 100%;
      height: 100%;
      padding-top: 100px;
      background: url("../../assets/mockup/isum-mockup-page-v6.png");
      background-size: cover;
      background-position: center;

      .isum-title {
        color: white;

        h2 {
          letter-spacing: 20px;
          font-weight: 600;
          font-size: 220px;
          padding-top: 8%;
          margin: 0 4%;
        }

        h5 {
          margin: 0 7%;
          font-size: 20px;
          font-weight: 200;
          letter-spacing: 2px;
        }
      }
    }
  }

  .border {
    width: 0;
    margin: 25px 0;
    height: 70px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }

  .isum-container {
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 100px auto;
    text-align: left;

    .isum-info {
      justify-content: center;
      display: flex;
      margin: 0 auto;

      .info {
        display: inline-block;
        padding: 1em 6em;

        h2 {
          font-weight: 600;
          font-size: 20px;
        }

        p {
          font-weight: 300;
          font-size: 15px;
        }
      }

    }

    .isum-overview {
      display: flex;
      margin: 10em 0 0 0;

      h2 {
        display: inline-block;
        width: 25%;
        font-size: 50px;
        letter-spacing: 5px;
        margin: 0 0 0 2em;
      }

      p {
        display: inline-block;
        width: 40%;
        margin: 0 auto;
        letter-spacing: 0.5px;
        line-height: 30px;
      }
    }

    .isum-problems {
      display: flex;
      margin: 5em 0 5em 0;

      h2 {
        display: inline-block;
        width: 25%;
        font-size: 50px;
        letter-spacing: 5px;
        margin: 0 0 0 2em;
      }

      p {
        display: inline-block;
        width: 40%;
        margin: 0 auto;
        letter-spacing: 0.5px;
        line-height: 30px;
      }
    }

    .isum-solution {
      display: flex;
      margin: 5em 0 5em 0;

      h2 {
        display: inline-block;
        width: 25%;
        font-size: 50px;
        letter-spacing: 5px;
        margin: 0 0 0 2em;
      }

      p {
        display: inline-block;
        width: 40%;
        margin: 0 auto;
        letter-spacing: 0.5px;
        line-height: 30px;
      }
    }
  }


  .isum-background {
    width: 100%;
    background-color: #0e0e0e;

    .isum-background-img {
      width:50%;
      display: inline-block;
      img {
        width: 100%;
      }
    }

    .isum-background-text {
      width: 50%;
      display: inline-block;
      position: absolute;


      h2 {
        color: #9f032b;
        font-size: 60px;
        text-align: center;
        margin: 1em 0 1em 0;
        font-weight: 500;
        letter-spacing: 15px;
      }

      h3 {
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 2px;
      }

      p {
        margin: 0 10em 3em 10em;
        color: white;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: 100;
      }

    }

  }

  .isum-mock-up {
    img {
      width: 100%;
    }
  }


  //.isum-screen {
  //
  //  img {
  //    width: 100% ;
  //  }
  //
  //}
}
